.banner {
  position: relative;
  display: block;
  width: 100%;
  height: 12.5rem;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
