$component-name: search-filters-modules;

.#{$component-name} {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: var(--left-block-border-bottom);

  &-title {
    font-size: var(--left-block-title-size);
    font-weight: 600;
    color: var(--left-block-title-color);
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    &__link {
      display: block;
      font-weight: 600;
      line-height: 2rem;
      color: var(--left-block-title-color);
    }
  }
}
