$component-name: breadcrumb;

.#{$component-name} {
  padding: 0.75rem 0;
  font-size: 0.875rem;

  a {
    color: $gray-800;
  }

  &[data-depth="1"] {
    display: none;
  }

  &__wrapper {
    margin-bottom: 2rem;
    background: #f6f6f6;

    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .page-product .breadcrumb-item:last-child {
    display: none;
  }
}
