$component-name: breadcrumb;

.#{$component-name} {
  padding: 1rem 0;
  font-size: 0.875rem;

  a {
    color: $gray-dark;
  }

  &[data-depth='1'] {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .page-product .breadcrumb-item:last-child {
    display: none;
  }
}
