.btn-with-icon {
  i {
    margin-right: 0.5rem;
    color: currentcolor;
    transition: none;
  }
}

.btn-unstyle {
  padding: 0;
  text-align: inherit;
  background-color: transparent;
  border: none;

  &:focus {
    outline: 0;

    .expand-more {
      color: $primary;
    }
  }
}
