.btn-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include button-icon();

  &.btn-sm {
    @include button-icon(sm);
  }

  &.btn-lg {
    @include button-icon(lg);
  }
}

.btn-unstyle {
  padding: 0;
  text-align: inherit;
  background-color: transparent;
  border: none;

  &:focus {
    outline: 0;

    .expand-more {
      color: $primary;
    }
  }
}
