$component-name: dropdown;

.#{$component-name} {
  &-toggle {
    display: inline-flex;
    align-items: center;

    &::after {
      @include material-icon(1.375rem);
      margin: 0;
      vertical-align: initial;
      content: "\e313";
      border: none;
    }
  }
}

.dropup {
  .#{$component-name} {
    &-toggle {
      &::after {
        margin: 0;
        vertical-align: initial;
        content: "\e313";
        border: none;
        transform: rotate(180deg);
      }
    }
  }
}

.dropend {
  .#{$component-name} {
    &-toggle {
      &::after {
        margin: 0;
        vertical-align: initial;
        content: "\e313";
        border: none;
        transform: rotate(-90deg);
      }
    }
  }
}

.dropstart {
  .#{$component-name} {
    &-toggle {
      &::before {
        @extend .material-icons;
        margin: 0;
        vertical-align: initial;
        content: "\e313";
        border: none;
        transform: rotate(90deg);
      }
    }
  }
}
