$component-name: products;

.layout-full-width {
  .#{$component-name} {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  @include media-breakpoint-up(xs) {
    .#{$component-name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @include media-breakpoint-up(md) {
    .#{$component-name} {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.layout-left-column,
.layout-right-column {
  .#{$component-name} {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  @include media-breakpoint-up(xs) {
    .#{$component-name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include media-breakpoint-up(xl) {
    .#{$component-name} {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

.layout-both-columns {
  .#{$component-name} {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }
  
  @include media-breakpoint-up(xs) {
    .#{$component-name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include media-breakpoint-up(md) {
    .#{$component-name} {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  @include media-breakpoint-up(lg) {
    .#{$component-name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}