$component-name: search;

.#{$component-name} {
  &__offcanvas {
    height: auto;
    bottom: inherit;
    border-bottom: 0;

    #search_widget {
      margin-bottom: 0;
    }

    .offcanvas-header {
      padding: 0.25rem 1rem; 

      .btn-close {
        height: auto;
        width: auto;
        background: none;
        color: $gray-second;
        margin: 0;
      }
    }
  }

  &__container {
    width: calc(100% - 0.5rem);
  }
}

.header__bottom, .#{$component-name}__offcanvas {
  #search_widget {
    input {
      border-radius: 100rem;
      background: $gray-light;
      padding-right: 2.5rem;
      padding-left: 1.5rem;

      @include media-breakpoint-down(md) {
        font-size: 0.9rem;
        padding-right: 4.5rem;
      }
    }

    .search {
      right: 1.5rem;
      color: $gray-second;
    }

    .clear {
      right: 3.5rem;
      color: $gray-second;
    }
  }
}
