$component-name: search;

.search-result {
  margin: 0.5rem 0;

  &__product {
    margin: 0.5rem 0;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__name {
    color: $gray-dark;
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 1rem;
  }

  &__image {
    max-width: 4rem;
    height: auto;
    border-radius: 8px;
  }
} 

.#{$component-name} {
  &__offcanvas {
    height: auto;
    bottom: inherit;
    border-bottom: 0;

    #search_widget {
      margin-bottom: 0;
    }

    .offcanvas-header {
      padding: 0.25rem 1rem; 

      .btn-close {
        height: auto;
        width: auto;
        background: none;
        color: $gray-second;
        margin: 0;
      }
    }
  }

  &__mobile__toggler {
    color: $gray-second;
    
    @include media-breakpoint-down(md) {
      padding: 0.5rem 0.3rem;
    }
  }

  &__container {
    width: calc(100% - 0.5rem);
  }

  &-widgets {
    position: relative;
    overflow: visible;

    @include media-breakpoint-down(md) {
      max-width: inherit;
    }

    &__dropdown {
      position: absolute;
      top: calc(100% + 1rem);
      background: $white;
      border-radius: $border-radius;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      width: 100vw;
      max-width: 30rem;
      overflow: hidden;
      right: 0;
      border: 1px solid $primary-color;

      @include media-breakpoint-down(md) {
        max-width: inherit;
        top: calc(100% + 0.25rem);
        left: -1rem;
        right: inherit;
        border-radius: 0px 0px 8px 8px;
      }
    }

    &__results {
      max-height: 20rem;
      overflow-y: scroll;
      padding: 0.5rem 1rem;
      padding-right: 1.5rem;
      margin: 0;
    }
  }
}

.header__bottom, .#{$component-name}__offcanvas {
  #search_widget {
    overflow: visible;

    input {
      border-radius: 100rem;
      background: $gray-light;
      padding-right: 2.5rem;
      padding-left: 1.5rem;

      @include media-breakpoint-down(md) {
        font-size: 0.9rem;
        padding-right: 4.5rem;
      }
    }

    .search {
      right: 1.5rem;
      color: $gray-second;
    }

    .clear {
      right: 3.5rem;
      color: $gray-second;
    }
  }
}