$component-name: footer;

.#{$component-name} {
  padding-top: 3.25rem;
  background: $primary-dark;

  & &-top {
    padding-bottom: 2.5rem;
  }

  h2,
  h3,
  .h4,
  .h3,
  .copyright {
    &,
    a {
      color: $white;
    }
  }

  h2,
  h3,
  .h3,
  .h4 {
    margin-bottom: 1.5rem;
    font-size: 1rem;

    &,
    a {
      // stylelint-disable-next-line
      text-transform: inherit !important;
    }
  }

  .collapse {
    @include media-breakpoint-up(md) {
      display: inherit;
    }
  }

  .wrapper {
    ul {
      margin-bottom: 0;

      a {
        display: block;
        padding: 0.25rem;
        padding-left: 0;
        color: $primary-color;
        transition: 0.25s ease-out;

        &:hover {
          color: $white;
        }
      }
    }

    a {
      color: $primary-color;
    }
  }

  #block_myaccount_infos .myaccount-title a {
    color: $white;
  }

  .block-contact {
    #contact-infos {
      line-height: 1.85rem;
      color: $light-gray;
    }
  }
}
