$nav-link-font-size:                1rem;
$nav-link-font-weight:              600;
$nav-link-color:                    $gray-dark;
$nav-link-hover-color:              $primary;
$nav-tabs-link-active-color: $white;
