$component-name: search-filters;

.#{$component-name} {
  & &-subtitle {
    // stylelint-disable-next-line
    width: auto !important;
  }

  .noUi-horizontal {
    margin-bottom: 1rem;

    .noUi-handle {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  .js-faceted-values{
    font-size: 0.875rem;
    color: var(--bs-gray-600);
  }

  .facet-dropdown {
    cursor: pointer;
  }
}
