$component-name: password-requirements;

.#{$component-name} {
  display: grid;
  gap: 0.5rem;

  &__score,
  &__length {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    margin: 0;
    font-size: 0.875rem;
    color: var(--bs-secondary-color);
  }

  &__icon {
    font-size: 1.25rem;
  }
}
