$component-name: account-menu;

.#{$component-name} {
  &__back {
    display: flex;
    margin-block-end: 1rem;
  }

  &--main {
    display: grid;
    gap: 1rem;

    .#{$component-name}__link {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      color: var(--bs-body-color);
      background-color: var(--bs-tertiary-bg);
      border-radius: var(--bs-border-radius);
      transition: var(--bs-transition-default);

      &:hover {
        color: var(--bs-link-hover-color);
      }

      &--signout {
        display: flex;
        color: var(--bs-danger);

        &:hover {
          color: var(--bs-danger);
        }
      }
    }

    .#{$component-name}__icon {
      font-size: 2rem;
    }
  }

  &--sidebar {
    display: none;

    .#{$component-name}__link {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.75rem 1rem;
      color: var(--bs-body-color);
      border-radius: var(--bs-border-radius);
      transition: var(--bs-transition-default);

      &:hover {
        color: var(--bs-link-hover-color);
      }

      &--active {
        color: var(--bs-link-hover-color);
        background-color: var(--bs-tertiary-bg);
      }

      &--signout {
        color: var(--bs-danger);

        &:hover {
          color: var(--bs-danger);
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    &--main {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      .#{$component-name}__link {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        align-items: initial;
        padding: 1.25rem 1rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__back {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    &--main {
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .#{$component-name}__link {
        &--signout {
          display: none;
        }
      }
    }

    &--sidebar {
      display: flex;
      flex-direction: column;
    }
  }
}
