$componentName: header;

.#{$componentName} {
  & &-top {
    a {
      color: $body-color;

      &:hover {
        &,
        i {
          color: $primary;
        }
      }
    }

    &-desktop {
      border-bottom: 1px solid $secondary-light;
    }

    &-right {
      @extend .inline-items;
      justify-content: flex-end;

     > *:not(:last-child) {
        margin-right: 1.5rem;
      }

      .language-selector {
        i.expand-more {
          color: $default-icon-color;
        }
      }

      .blockcart {
        &.active {
          &,
          i,
          a {
            color: $primary;
          }
        }
      }
    }
  }

  & &-bottom {
    padding: 0;
    border-bottom: 1px solid $secondary-light;

    .navbar-brand {
      padding: 0;
    }

    .nav-link {
      &:active,
      &.active {
        color: $white;
      }

      &:active:hover {
        color: $white;
      }
    }

    .menu  {
      width: 100%;

      .dropdown {
        position: inherit;
      }

      .top-menu {
        display: flex;
        align-items: center;
        margin-bottom: 0;

       > li {
         > a {
            padding: 1.5rem 1rem;
            transition: 0.25s ease-out;
          }

          .dropdown-menu {
            top: calc(100% + 1px);
            left: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100vw;
            max-width: 100vw;
            pointer-events: none;
            border: none;
            border-radius: 0;
            box-shadow: 0.25rem 0.75rem 1rem -1rem rgba($black, 0.3);
            opacity: 0;
            transition: 0.25s ease-out;
            transform: translateX(-50%);
          }

          &:hover {
            .dropdown-menu {
              pointer-events: all;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
