$component-name: header;

.#{$component-name} {
  & &__top {
    border-bottom: 1px solid $gray-200;

    a {
      color: $body-color;

      &:hover {
        &,
        i {
          color: $primary;
        }
      }
    }

    &__right {
      > *:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }

  & &__bottom {
    padding: 0;

    @include media-breakpoint-up(md) {
      border-bottom: 1px solid $gray-200;
    }

    .navbar-brand {
      padding: 0;
    }

    .nav-link {
      &:active,
      &.active {
        color: $white;
      }

      &:active:hover {
        color: $white;
      }
    }

    .main-menu--desktop {
      .dropdown {
        position: inherit;
      }

      .main-menu__tree {
        > li {
          > a {
            padding: 1.5rem 1rem;
            transition: 0.25s ease-out;
          }

          .dropdown-menu {
            top: 100%;
            right: 0;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            pointer-events: none;
            border: none;
            border-radius: 0;
            box-shadow: 0.25rem 0.75rem 1rem -1rem rgba($black, 0.3);
            opacity: 0;
            transition: 0.25s ease-out;
          }

          &:hover {
            .dropdown-menu {
              pointer-events: all;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
