$component-name: header;

.#{$component-name} {
  & &__top {
    border-bottom: 1px solid $gray-200;

    a:not(.dropdown-item) {
      color: $body-color;

      &:hover {
        &,
        i {
          color: $primary;
        }
      }
    }

    &__right {
      > *:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }

  & &__bottom {
    padding: 0;

    @include media-breakpoint-up(md) {
      border-bottom: 1px solid $gray-200;
    }

    .navbar-brand {
      padding: 0;
    }

    .nav-link {
      &:active,
      &.active {
        color: $white;
      }

      &:active:hover {
        color: $white;
      }
    }
  }
}
