$component-name: (
  container: columns-container,
  left-column: left-column,
  center-column: center-column,
  right-column: right-column,
);

@include media-breakpoint-up(md) {
  .layout-left-column,
  .layout-right-column {
    .#{map-get($component-name, container)} {
      --bs-gutter-x: 2.5rem;

      > .row {
        --bs-gutter-x: 2.5rem;
      }
    }
  }
}
