$component-name: (
  container: columns-container,
  left-column: left-column,
  center-column: center-column,
  right-column: right-column
);

.layout-left-column,
.layout-right-column {
  .#{map-get($component-name, container)} {
    > .row {
      --bs-gutter-x: 2.5rem;
    }
  }
}