$component-name: "footer";
$sub-component-name: "footer-block";

// Footer main
.#{$component-name} {
  &__main {
    padding-block: 1.5rem;
    color: var(--bs-gray-300);
    background: var(--bs-dark);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--bs-white);
    }

    a {
      color: var(--bs-gray-300);

      &:hover {
        color: var(--bs-white);
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__main {
      padding-block: 2.5rem 1.25rem;
    }
  }
}

// Footer block
.#{$sub-component-name} {
  margin-block-end: 0.75rem;

  &__title {
    position: relative;
    margin-block-end: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bs-white);

    a {
      color: var(--bs-white);
    }

    &--toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .stretched-link {
        &:not(.collapsed) {
          i {
            transform: rotate(0.5turn);
          }
        }
      }

      i {
        transition: var(--bs-transition-default);
      }
    }
  }

  &__list {
    margin-block-end: 0;

    a {
      display: block;
      padding-block: 0.25rem;
      line-height: 1.5;
    }
  }

  @include media-breakpoint-up(md) {
    margin-block-end: 2.5rem;

    &__title {
      margin-block-end: 1.5rem;
    }

    &__content {
      &.collapse {
        display: block;
      }
    }
  }
}
