$primary-color: #dee7ef;
$done: #70b580;

$btn-tertiary-color: #6c868e;
$radio-border-color: #979797;

// General colors
$default-icon-color: $btn-tertiary-color;

// Footer
$footer-background-color: #011638;
$footer-heading-color: $white;
$footer-text-color: $primary-color;

// Emailsubscriptions
$email-input-color: $gray-300;
