// General colors
$default-icon-color: #6c868e;

// Footer
$footer-background-color: #16181c;
$footer-heading-color: $white;
$footer-text-color: $gray-300;

// Emailsubscriptions
$email-input-color: $gray-300;
$email-input-border-color: $gray-300;
