.blockreassurance_product {
  .item-product {
    // stylelint-disable-next-line
    margin-right: 1.5rem !important;
  }

  svg {
    path {
      fill: $btn-tertiary-color;
    }
  }

  span,
  p {
    display: block;
    line-height: 1.5rem;
    // stylelint-disable-next-line
    color: $btn-tertiary-color !important;
  }
}
