$component-name: email-subscription;
$email-input-color: $input-color !default;
$email-input-border-color: $input-border-color !default;

.#{$component-name} {
  padding: 2.5rem 1rem;
  background-color: $gray-200;

  & &-content {
    max-width: 50.625rem;
    margin: auto;

    &-infos {
      margin-top: 0.25rem;

      p {
        margin: 0;
      }
    }

    &-inputs {
      display: flex;
      align-items: center;

      input[type="email"] {
        padding: 0.5rem 1.25rem;
        margin-right: 0.5rem;
        color: $email-input-color;
        border: 1px solid $email-input-color;
      }

      .btn-primary {
        color: $white;
        text-transform: inherit;
      }
    }
  }

  & &-label {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $gray-800;
  }
}
