// General colors
$default-icon-color: var(--bs-gray-700);

// Footer
$footer-background-color: #16181c;
$footer-heading-color: var(--bs-white);
$footer-text-color: var(--bs-gray-300);

// Emailsubscriptions
$email-input-color: var(--bs-gray-300);
$email-input-border-color: var(--bs-gray-300);
