.page-product {
  .product {
    &__name {
      margin-bottom: 2rem;
    }

    &__infos {
      .accordion-button {
        padding: 1.25rem 0;
        font-size: 1.25rem;
        font-weight: 700;
      }

      .accordion-body {
        padding: 0;
      }
    }

    &__images {
      margin-bottom: 1rem;

      .carousel {
        overflow: hidden;
        border-radius: 8px;
      }

      &__modal-opener {
        position: absolute;
        right: 0.635rem;
        bottom: 0.635rem;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        box-shadow: 0.125rem -0.125rem 0.25rem 0 rgb(0 0 0 / 20%);
      }
    }

    &__description-short {
      margin-bottom: 1.5rem;
    }

    &__tax-info {
      font-size: 0.875rem;
      color: var(--bs-gray-600);
    }

    &__tax-label {
      white-space: nowrap;
    }

    &__prices {
      font-size: 1.25rem;
    }

    &__current-price {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2rem;
    }

    &__unit-price {
      font-size: 0.875rem;
      color: var(--bs-gray-600);
    }

    &__discount {
      font-size: 1rem;
      color: var(--bs-gray-600);
    }

    &__price-regular {
      text-decoration: line-through;
    }

    &__pack-price {
      font-size: 1rem;
    }

    &__variants {
      .variant {
        margin-bottom: 1.5rem;

        ul {
          display: flex;
          align-items: center;

          li {
            &:first-of-type {
              span {
                margin-left: 0;
              }
            }
          }
        }

        .input-color {
          display: none;
        }

        .color {
          span {
            font-size: 0;
          }
        }
      }
    }

    &__add-to-cart {
      margin-bottom: 2rem;

      .product-actions__button button {
        width: 100%;
      }
    }

    &-pack__item {
      border: 1px $gray-200 solid;
    }
  }

  @include media-breakpoint-down(md) {
    .carousel-control-next {
      right: 1rem;
    }

    .carousel-control-prev {
      left: 1rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 3rem;
      height: 3rem;
    }
  }
}

// Needs to be outside of the .page-product scope because it can be inside a modal
.thumbnails__container {
  .thumbnail {
    img {
      border: 2px solid transparent;
      border-radius: 8px;
    }

    &.active img {
      border: 2px solid $primary;
    }
  }
}
