.product-flags {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.25rem;
}

.badge {
  margin: 0.25rem;
  background-color: var(--bs-primary);

  @include media-breakpoint-down(md) {
    padding: 0.25rem;
    font-size: 0.75rem;
  }

  &.discount {
    color: var(--bs-primary);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-primary);
  }
}
