$component-name: product-miniature;

.#{$component-name} {
  & &-infos {
    position: relative;
    z-index: 90;
    padding: 0;
    padding-top: 0.5rem;

    &-top,
    &-bottom {
      padding: 0.25rem 0.5rem;
      background-color: $white;
    }
  }

  & &-title {
    margin: 0;
  }

  & &-image {
    height: auto;
  }

  & &-quickview {
    display: flex;
    margin: auto;
  }

  & &-regular-price {
    text-decoration: line-through;
    @extend .me-2;
  }

  & &-prices {
    display: flex;
  }
}
