$component-name: product-miniature;

.#{$component-name} {
  margin-bottom: 1.25rem;

  &:hover {
    .#{$component-name}-quickview {
      transform: translateY(-100%);
    }
  }

  & &-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  & &-image {
    transition: .25s ease-out;
  }

  & &-link {
    position: relative;
    display: block;

    &:hover {
      .#{$component-name}-image {
        transform: scale(1.1);
      }
    }
  }

  & &-title {
    margin-bottom: 0;
  }

  & &-regular-price {
    color: $btn-tertiary-color;
    text-decoration: line-through;
  }

  & &-quickview {
    width: 100%;
    border: 0;
    background-color: $white;
    position: absolute;
    top: 0;
    z-index: -1;
    padding: .5rem;
    transition: .25s ease-out;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $secondary-light;

    .material-icons {
      color: $btn-tertiary-color;
      font-size: 1.25rem;
      margin-right: .25rem;
    }
  }

  .variant-links {
    > a:first-child {
      margin-left: 0;
    }
  }
}
