$component-name: cart;

.#{$component-name} {
  &-container {
    padding-right: 2rem;
  }

  &-summary {
    background-color: $gray-light; 
    padding: 1rem;

    &-products {
      border-bottom: 1px solid $secondary-light;
      margin-bottom: 0.75rem;

      > p {
        margin-bottom: 0;
        padding: 1rem 0;

        &:first-of-type {
          padding-top: 0.5rem;
          border-bottom: 1px solid $secondary-light;
        }
      }

      .media {
        display: flex;
        align-items: flex-start;
        width: 100%;

        &-price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .product-flag {
            padding: 0.3125rem 0.625rem;
            background-color: $primary;
            color: $white;
            display: inline-block;
            font-size: 0.875rem;
            font-weight: 600;

            &.discount {
              background-color: $warning;
            }
          }

          .product-price {
            color: $gray-dark;
            font-weight: 600;
          }
        }

        &-left {
          img {
            width: 3rem;
          }
        }

        &-body {
          padding: 0 0.75rem;
          width: 100%;

          &-top {
            margin-bottom: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .label, .value {
            font-size: 1rem;
            font-weight: 400;
            color: $gray-dark;
          }

          .product-line-info {
            margin: 0.25rem 0;
          }

          .product-name {
            a {
              color: $gray-dark;
              font-weight: 600;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }

    &-show {
      font-weight: 600;

      i {
        color: $primary;
      }

      span {
        vertical-align: middle;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &-totals {
      border-top: 1px solid $secondary-light;
      padding-top: 1rem;
      margin-top: 0.75rem;

      span {
        font-weight: bold;
      } 
    }

    &-line, &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;

      span {
        font-size: 1rem;

        &.value {
          font-weight: bold;
          color: $gray-dark;
        }
      }
    }
  } 

  &-detailed-actions {
    margin-top: 1.75rem;

    .btn-primary {
      display: flex;
      justify-content: center;
    }
  }

  &-grid {
    .h4 {
      margin-bottom: 1.25rem;
    }
  }

  &-item {
    .product-line {
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-content {
          .current-price {
            margin: 0.25rem 0;
          }
        }
      } 

      &-grid {
        padding: 1rem 0;
        border-bottom: 1px solid $secondary-light;

        &:first-child {
          border-top: 1px solid $secondary-light;
        }

        &-right {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }

      &-title {
        color: $gray-dark;
        font-weight: 600;
      }

      &-info {
        margin: 0.25rem 0;

        .label {
          font-size: 1rem;
        }
      }

      &-bottom, &-price, &-info {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .product-discount {
          display: flex;
          align-items: center;

          .regular-price {
            text-decoration-line: line-through;
            margin-right: 1rem;
            line-height: 1.2rem;
          }

          .product-flag {
            margin: 0.25rem;
            padding: 0.3125rem 0.625rem;
            background-color: $primary;
            color: $white;
            display: inline-block;
            font-size: 0.875rem;
            font-weight: 600;
            margin-left: 1rem;

            &.discount {
              background-color: $warning;
            }
          }
        }
      }

      &-price {
        justify-content: flex-end;

        span {
          font-size: 1rem;
          font-weight: 500;
          display: block;
        }
      }
    }
  }
}
