$componentName: carousel;

.#{$componentName} {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  min-height: 30rem;

  & &-inner {
    height: 100%;
  }

  & &-item {
    height: 100%;
    align-items: center;
    justify-content: center;

    &.active {
      display: flex;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  & &-content {
    width: 100%;

    h2, h3, p {
      color: $slider-text-color; 
    }
  }

  & &-indicators {
    button {
      width: 10px;
      height: 10px;
      border-radius: 1000rem;
      border: 0;

      &.active {
        background-color: $primary;
      }
    }
  }

  & &-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  & &-caption {
    max-width: 1120px; 
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit;

    .caption-description {
      max-width: 20rem;

      h3 {
        font-size: $slider-subtitle-size;
        margin: $slider-text-spacing 0;
      }

      p {
        font-size: $slider-description-size;
      }
    } 

    h2 {
      font-size: $slider-title-size;
    }
  }

  & &-button-prev, & &-button-next {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: white;
    z-index: 1;
    cursor: pointer;
    transition: .25s ease-out;

    &:hover {
      opacity: .6;
    }

    i {
      font-size: 3.5rem;
    }
  }

  & &-button-prev {
    left: 3rem;
  } 

  & &-button-next {
    right: 3rem;
  } 
}
