$componentName: carousel;

.#{$componentName} {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  min-height: 30rem;

  & &-inner {
    height: 100%;
  }

  & &-item {
    height: 100%;
    align-items: center;
    justify-content: center;

    &.active {
      display: flex;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  & &-content {
    width: 100%;

    p {
      color: var(--slider-text-color);
    }

    h2 {
      font-weight: var(--slider-title-weight);
    }

    h3 {
      font-weight: var(--slider-subtitle-weight);
    }
  }

  & &-indicators {
    button {
      width: 10px;
      height: 10px;
      border-radius: 1000rem;
      border: 0;
      background-color: $white;

      &.active {
        background-color: $primary;
      }
    }
  }

  & &-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  & &-caption {
    max-width: 1120px; 
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit;

    .caption-description {
      max-width: 20rem;

      h3 {
        font-size: $slider-subtitle-size;
        margin: $slider-text-spacing 0;
      }

      p {
        font-size: $slider-description-size;
      }
    } 

    h2 {
      font-size: $slider-title-size;
    }
  }

  & &-control-prev, & &-control-next {
    top: 50%;
    transform: translateY(-50%);
    background: var(--slider-control-bg);
    height: var(--slider-control-height);
    border-radius: var(--slider-control-radius);
  }

  & &-control-prev {
    left: 3rem;
  } 

  & &-control-next {
    right: 3rem;
  } 
}
