// Bootstrap variables, maps overrides

// Breakpoints
$grid-breakpoints: (
  "xxs": 0,
  "xs": 360px, // Add breakpoint to give us flexibility on small devices
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px
);

// Toasts
$toast-border-width: 0;
$carousel-transition-duration: 0.25s;
