$componentName: category-tree;

#left-column {
  --#{$componentName}-title-color: #{$gray-dark};
  --#{$componentName}-title-size: 1.5rem;
  --#{$componentName}-title-spacing: 1rem;
  --#{$componentName}-subtitle-color: #{$gray-dark};
  --#{$componentName}-subtitle-size: 1rem;
  --#{$componentName}-subtitle-spacing: 0.25rem;
  --#{$componentName}-border-bottom: 1px solid #{$secondary-light};
}

.#{$componentName} {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: var(--#{$componentName}-border-bottom);

  &-child {
    padding: 0;
    border: none;
  }

  & &-title {
    padding: 0;
    margin-bottom: var(--#{$componentName}-title-spacing);
    font-size: var(--#{$componentName}-title-size);
    border: none;

    &-link {
      display: block;
      font-weight: 600;
      line-height: 2rem;
      color: var(--#{$componentName}-title-color);
    }
  }

  & &-item {
    &-link {
      display: block;
      padding: var(--#{$componentName}-subtitle-spacing) 0;
      font-size: var(--#{$componentName}-subtitle-size);
      font-weight: 600;
      color: var(--#{$componentName}-subtitle-color);
    }
  }
}
