$component-name: cart-summary;

.#{$component-name} {
  &__subtotals {
    margin-block-end: 0.5rem;
  }

  &__total {
    padding-block: 0.5rem;
    margin-block-end: 0.5rem;
    border-block: 1px solid var(--bs-border-color);
  }

  &__voucher {
    margin-block-end: 0.5rem;
  }

  &__line {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;

    &--bold {
      font-weight: 600;
    }
  }

  &__label {
    &--voucher {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      i {
        font-size: 1rem;
      }
    }
  }

  &__value {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
    font-weight: 600;
    white-space: nowrap;
  }

  &__actions {
    padding-block-start: 0.5rem;
  }
}
