$component-name: cart;

.#{$component-name} {
  &__item {
    padding-block-end: 1rem;
    margin-block-end: 1rem;
    border-block-end: 1px solid var(--bs-border-color);

    &:last-child {
      padding-block-end: 0;
      border-block-end: 0;
    }
  }

  &__continue-shopping {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    &__continue-shopping {
      width: auto;
    }
  }
}
