$component-name: cart-voucher;

.#{$component-name} {
  &__accordion {
    padding-block-end: 0.5rem;
    margin-block-end: 0.5rem;
    border-block-end: 1px solid var(--bs-border-color);

    &-item {
      border-block-end: 0;
    }
  }

  &__form {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__list {
    padding-block-end: 0.5rem;
    margin-block-end: 0.5rem;
    border-block-end: 1px solid var(--bs-border-color);
  }

  &__highlight {
    padding-block: 0.5rem;
    border-block-end: 1px solid var(--bs-border-color);
  }

  &__offers {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-block-end: 0;
  }

  &__code-value {
    color: var(--bs-link-color);

    &:hover {
      color: var(--bs-link-hover-color);
      cursor: pointer;
    }
  }

  &__error {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-block-start: 0.5rem;

    &-icon {
      flex-shrink: 0;
    }
  }
}
