$component-name: product-customization-modal;

.#{$component-name} {
  &__line {
    margin-block-end: 1rem;
  }

  &__label {
    margin-block-end: 0.5rem;
    font-weight: 600;
  }

  &__img {
    padding: 0.5rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }

  &__img-popup {
    display: block;
    margin-inline: auto;
    border-radius: var(--bs-border-radius);
  }
}
