$componentName: header;

.#{$componentName} {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;

  &__top {
    &__right {
      @extend .inline-items;
      justify-content: flex-end;

     > *:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &-desktop {
      padding: 1rem 0;
    }
  }
}
