$component-name: header-top;

.#{$component-name} {
  background-color: var(--header-top-bg);

  &-desktop {
    padding: 0.5rem 0;
  }

  &__right,
  &__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
  }

  &__right {
    justify-content: flex-end;
  }

  a {
    color: var(--header-top-color);

    &:not(.dropdown-item) {
      &:hover {
        color: var(--header-top-color-hover);
      }
    }
  }

  .form-select {
    border: none;
    cursor: pointer;
  }

  @include media-breakpoint-up(md) {
    border-bottom: var(--header-top-border-bottom);
  }
}
