$component-name: header;

.#{$component-name} {
  --header-bg: #{$header-bg};
  --header-top-bg: #{$header-top-bg};
  --header-color: #{$header-color};
  --header-top-color: #{$header-top-color};

  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 100vw;
  background-color: var(--header-bg);

  a:not(.dropdown-item):not(.btn) {
    color: var(--header-color);

    &:hover {
      &,
      i {
        color: var(--bs-primary);
      }
    }
  }

  &__top {
    background-color: var(--header-top-bg);

    a {
      color: var(--header-top-color);
    }

    &__right {
      @extend .inline-items;
      justify-content: flex-end;
    }

    &__right,
    &__left {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .form-select {
      padding-right: 1.5rem;
      background-color: var(--header-top-bg);
      background-position: right 0.12rem center;
      border: none;

      option {
        text-align: right;
      }
    }

    &-desktop {
      padding: 0.25rem 0;
    }

    &-mobile {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      .logo-mobile {
        flex-shrink: 1;
        margin-right: auto;
      }
    }

    @include media-breakpoint-down(sm) {
      .container {
        padding: 0;
      }
    }
  }

  &__bottom {
    &__container {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-up(md) {
        min-height: 4rem;
      }

      .logo {
        h1 {
          margin-bottom: 0;
        }

        a {
          display: block;
        }
      }
    }
  }
}
