$component-name: header-top;

.#{$component-name} {
  padding: 0.25rem 0;
  background-color: var(--header-top-bg);

  &__right,
  &__left {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
  }

  &__right {
    justify-content: flex-end;
  }

  a {
    color: var(--header-top-color);

    &:not(.dropdown-item) {
      &:hover {
        color: var(--header-top-color-hover);
      }
    }
  }

  .form-select {
    cursor: pointer;
    border: none;
  }

  @include media-breakpoint-up(md) {
    border-bottom: var(--header-top-border-bottom);
  }
}
