body,
html {
  height: 100%;
}

body {
  font-family: Inter, sans-serif;
  font-size: $base-font-size;
  line-height: 1.25em;
  color: $body-color;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 7.875rem;
}

ul {
  padding-left: 0;
  list-style: none;
}

p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: $gray-dark;
}

a {
  text-decoration: none;
  transition: .25s ease-out;

  .material-icons {
    color: $default-icon-color;
    transition: .25s ease-out;
  }
}

label .color,
.variant-links .color,
.custom-checkbox input[type="checkbox"] + span.color {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.3125rem;
  margin-right: 0.5rem;
  cursor: pointer;
  background-size: contain;
  border: 1px solid $radio-border-color;

  &.active,
  &:hover {
    border: 2px solid $gray-darker;
  }
}
