$component-name: product-miniature;

.#{$component-name} {
  margin-bottom: 1.25rem;

  &:hover {
    .#{$component-name}-quickview {
      transform: translateY(-100%);
    }
  }

  & &-image-container {
    height: 19.0625rem; 
    position: relative;
    overflow: hidden;
  }

  & &-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .25s ease-out;
  }

  & &-link {
    position: relative;
    display: block;

    &:hover {
      .#{$component-name}-image {
        transform: scale(1.1);
      }
    }
  }

  & &-infos {
    position: relative;
    z-index: 90;

    &-top,
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .25rem .5rem;
      background-color: $white;
    }

    &-top {
      padding-top: .5rem;
    }
  }

  & &-title {
    margin-bottom: 0;
  }

  & &-regular-price {
    color: $btn-tertiary-color;
    text-decoration: line-through;
  }

  & &-quickview {
    width: 100%;
    border: 0;
    background-color: $white;
    position: absolute;
    top: 0;
    z-index: -1;
    padding: .5rem;
    transition: .25s ease-out;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $secondary-light;

    .material-icons {
      color: $btn-tertiary-color;
      font-size: 1.25rem;
      margin-right: .25rem;
    }
  }

  .variant-links {
    > a:first-child {
      margin-left: 0;
    }
  }

  .product-flags {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 0.25rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .product-flag {
      margin: 0.25rem;
      padding: 0.3125rem 0.625rem;
      background-color: $primary;
      color: $white;
      display: block;
      font-size: 0.875rem;
      font-weight: 600;

      &.discount {
        background-color: $warning;
      }
    }
  }
}
