.layout-left-column {

  #left-column {
    padding-right: 3rem;
  }

  .products {
    .product-miniature {
      width: 33.33%;

      &-image-container {
        height: 17.0625rem;
      }
    }
  }

  .products-selection {
    margin-bottom: 1.25rem;

    .select-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0.75rem 1.25rem;
      text-align: left;
      border: 1px solid $light-gray;
    }

    &s-filters {
      align-items: center;
    }

    .total-products {
      p {
        margin-bottom: 0;
      }
    }

    .sort-by-row {
      align-items: center;
    }

    .dropdown-menu {
      a {
        display: block;
        padding: 0.75rem 1rem;
        color: $gray-dark;
        transition: 0.25s ease-out;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
