.layout-left-column {

  #left-column {
    padding-right: 3rem;
  }
  
  .products {
    .product-miniature {
      width: 33.33%;

      &-image-container {
        height: 17.0625rem;
      }
    }
  }
}
