// Button with icon
$default-button-icon-size: 1.5rem;
$default-button-icon-padding: 0.25rem;

$small-button-icon-size: 1rem;
$small-button-icon-padding: 0.125rem;

$large-button-icon-size: 2rem;
$large-button-icon-padding: 0.375rem;
