// General colors
$default-icon-color: var(--bs-gray-700);

// Footer
$footer-background-color: #212121;
$footer-heading-color: $primary;
$footer-text-color: #999;

// Emailsubscriptions
$email-input-color: var(--bs-gray-300);
$email-input-border-color: var(--bs-gray-300);
