$header-bg: #fff;
$header-top-bg: $header-bg;
$header-top-border-bottom: 1px solid $gray-200;
$header-bottom-border-bottom: $header-top-border-bottom;
$header-color: $gray-800;
$header-top-color: $header-color;
