$component-name: checkout-buttons;

/* .#{$component-name} {
  display: grid;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-block-start: 1.5rem;

  .btn {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    display: flex;

    &--split {
      justify-content: space-between;

      &:has(.btn:only-child) {
        justify-content: flex-end;
      }
    }

    .btn {
      width: auto;
    }
  }
} */