$component-name: checkout-steps;

.#{$component-name} {
  padding-block: 0.5rem;
  margin-block-end: 2.5rem;
  background-color: var(--bs-tertiary-bg);
  border-block-end: 1px solid var(--bs-border-color);

  &__list {
    display: flex;
    align-items: flex-start;
    margin-block-end: 0;
  }

  &__step {
    position: relative;
    flex-basis: 25%;
    flex-shrink: 0;
    text-align: center;

    &::after,
    &::before {
      position: absolute;
      top: calc(0.75rem - 0.0625rem);
      z-index: 0;
      width: 50%;
      height: 0.125rem;
      content: "";
      background: var(--bs-dark-bg-subtle);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &:first-of-type {
      &::before {
        display: none;
      }
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }

    &--current {
      .#{$component-name}__number {
        background: var(--bs-dark);
      }

      .#{$component-name}__btn {
        color: var(--bs-body-color);
      }

      &::before {
        background: var(--bs-success);
      }
    }

    &--success {
      .#{$component-name}__number {
        background: var(--bs-success);
      }

      .#{$component-name}__btn {
        color: var(--bs-success);
      }

      &::before {
        background: var(--bs-success);
      }

      &::after {
        background: var(--bs-success);
      }
    }
  }

  &__step-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    line-height: 1.25;
  }

  &__title {
    margin-block-end: 0;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__subtitle {
    margin-block-end: 0;
    font-size: 0.875rem;
    color: var(--bs-secondary-color);
  }

  &__number {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-block-end: 0.5rem;
    margin-inline: auto;
    color: var(--bs-white);
    background: var(--bs-dark-bg-subtle);
    border-radius: 100%;
  }

  &__btn {
    padding: 0.25rem;
    color: var(--bs-body-color);

    &.active {
      font-weight: 600;
    }
  }

  &__desktop {
    display: none;
    width: 100%;
    max-width: 45rem;
    margin-inline: auto;
  }

  &__mobile {
    @extend .container;
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  @include media-breakpoint-up(sm) {
    &__title {
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-up(md) {
    padding-block: 2rem;

    &__desktop {
      display: block;
    }

    &__mobile {
      display: none;
    }
  }
}
