$component-name: payment-option;

.#{$component-name} {
  &__additional-information {
    padding-block-start: 1rem;
  }

  /* Generic styles for information list */
  dl {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-radius: var(--bs-border-radius);
    margin-block-end: 0;
    background-color: var(--bs-tertiary-bg);

    dt {
      padding: 1rem;
      margin: 0;
      font-weight: 600;
      border-block-end: 1px solid var(--bs-border-color);

      &:last-of-type {
        border-block-end: none;
      }
    }

    dd {
      padding: 1rem;
      margin: 0;
      border-block-end: 1px solid var(--bs-border-color);

      &:last-of-type {
        border-block-end: none;
      }
    }
  }
}
