$component-name: final-summary;

.#{$component-name} {
  &__header {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--bs-secondary-color);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 1.5rem;
  }
}