$component-name: one-page-checkout;

.#{$component-name} {
  @include media-breakpoint-up(lg) {
    padding-right: 2em;
  }

  &__section {
    padding-bottom: 2em;

    & + &,
    .js-opc-address-form + & {
      border-top: 1px solid var(--bs-border-color);
      padding-top: 2em;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__field {
    margin-bottom: 1rem;
  }

  &__footer {
    padding-top: 2em;

    .form-check {
      margin-bottom: 1rem;
    }
  }
}
