@import "details";

.page-product {
  .product {

    &__infos {
      .accordion-button {
        font-weight: bold;
        font-size: 1.25rem;
        padding: 1.25rem 0;
      }

      .accordion-body {
        padding: 0;
      }
    }
    // ABOVE IS DONE



    // BELOW TODO
    &-actions {
      padding-bottom: 2rem;
      margin-bottom: 0.75rem;
      border-bottom: 1px solid $gray-200;

      &__button {
        .btn {
          width: 100%;
        }
      }
    }

    &-prices {
      align-items: center;

      .product-flag {
        margin: 0;
        margin-left: 1rem;
      }
    }

    &-price {
      margin-bottom: 0;
    }

    &-quantity {
      display: flex;
      align-items: flex-start;
    }

    &-variants {
      &-item {
        margin-bottom: 2rem;

        ul {
          display: flex;
          align-items: center;

          li {
            &:first-of-type {
              span {
                margin-left: 0;
              }
            }
          }
        }

        .input-color {
          display: none;
        }

        .color {
          span {
            font-size: 0;
          }
        }
      }
    }
  }

  .product-flag {
    display: inline-block;
  }

  .page-content {
    position: relative;
  }

  .regular-price,
  .current-price-value {
    font-size: 1rem;
  }

  .regular-price {
    margin-right: 1rem;
    line-height: 1.2rem;
    text-decoration: line-through;
  }

  .tax-shipping-delivery-label {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: $gray-600;
  }

  .images-container {
    margin-bottom: 1rem;
  }

  .control-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: $gray-800;
  }
}
