body,
html {
  min-height: 100%;
}

body {
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

a {
  transition: var(--bs-transition-default);
}
