// Responsive sizing for containers based on Bootstrap breakpoints
@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .container--limited-#{$breakpoint} {
      max-width: $container-max-width;
    }

    .w-#{$breakpoint}-auto {
      // stylelint-disable-next-line declaration-no-important
      width: auto !important;
    }

    .w-#{$breakpoint}-100 {
      // stylelint-disable-next-line declaration-no-important
      width: 100% !important;
    }
  }
}

// Generate color classes for dark backgrounds
@each $color-name, $color-value in $colors-on-dark {
  .text-#{$color-name}-on-dark {
    color: $color-value;
  }
}
