$component-name: color;

%color-variant {
  .#{$component-name} {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-size: contain;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius-sm);
    transition: var(--bs-transition-default);

    &.#{$component-name}-sm {
      width: 1rem;
      height: 1rem;
    }

    &.active,
    &:hover {
      border: 2px solid var(--bs-link-hover-color);
    }
  }
}
