$component-name: product-customization;

.#{$component-name} {
  padding: 1rem;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);

  &__label {
    font-size: 0.875rem;
  }

  &__item {
    padding-block-start: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    border-block-start: 1px solid var(--bs-border-color);

    &:first-child {
      padding-block-start: 0;
      margin-block-start: 0;
      border-block-start: none;
    }
  }

  &__message {
    margin-block-start: 0.25rem;
    font-size: 0.875rem;
    color: var(--bs-secondary-color);
  }

  &__image {
    width: 2rem;
    height: 2rem;

    &-wrapper {
      display: flex;
      align-items: center;
      margin-block-start: 0.5rem;
      gap: 0.5rem;
    }

    &-remove {
      font-size: 0.875rem;
    }
  }

  &__field-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
