$component-name: product-variant;

.#{$component-name} {
  // Radios
  &__radios {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.875rem;
    margin-bottom: 0;
  }

  &__radio {
    margin: 0;

    label {
      cursor: pointer;
    }
  }

  // Colors
  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-block-end: 0;
    @extend %color-variant;

    label {
      display: block;
      line-height: 0;
    }
  }
}