$component-name: attachment;

.#{$component-name} {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: var(--bs-transition-default);

  &:hover {
    background-color: var(--bs-tertiary-bg);
  }

  &__name {
    display: block;
    margin-block-end: 0.5rem;
    font-weight: 600;
    color: var(--bs-body-color);

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }

  &__description {
    font-size: 0.875rem;
    color: var(--bs-tertiary-color);
  }

  &__link {
    font-size: 0.875rem;
  }
}
