$component-name: checkout;

.#{$component-name}-container {
  padding: 0 6rem;

  .step {
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid $secondary-light;

      &-left {
        display: inline-flex;
        align-items: center;
        text-transform: inherit;
        font-weight: 600;
      }

      .step-number {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-size: 1.25rem;
        margin-right: 1rem;
        color: $light-gray; 
        border: 1px solid $light-gray;
      }
    }
  }

  .checkout-step {
    &.-current, &.-reachable {
      border-bottom: 1px solid $secondary-light;
      padding-bottom: 1.25rem;

      .step-number {
        color: $white;
        background: $done;
        border: none;
      }
    }

    .content {
      display: none;
    }

    &.-current {
      .step-edit {
        display: none;
      }

      .content {
        display: block;
      }
    }

    &.-complete {
      padding-bottom: 0;
      border-bottom: 0;

      .step-title {
        margin-bottom: 1.25rem;
      }

      .step-title-left {
        color: $done;
      }
    }

    &.-unreachable {
      padding: 0;
      padding-bottom: 0;
      margin-bottom: 0;

      .step-number {
        color: $light-gray; 
        border: 1px solid $light-gray;
        background: none;
      }

      .step-title {
        padding: 1.25rem 0;

        &-left {
          color: $light-gray;
        }
      }
    }

    .nav {
      justify-content: center;
      margin-top: 1.5rem;
      align-items: center;
    }

    .content {
      padding-top: 2rem;
    }

    .order-options {
      textarea {
        max-width: 100%;
        border: 1px solid $light-gray;
        margin-bottom: 1rem;
      }

      label {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
    }

    .delivery-options {
      margin-bottom: 1rem;

      .delivery-option {
        padding: 1rem;
        background-color: $gray-light;

        &-left {
          display: flex;
          justify-content: left;
          align-items: center;

          .custom-radio {
            margin-top: 0;
            min-width: 1.125rem;
          }

          .carrier {
            display: flex;
            align-items: center;
            width: 100%;
          }
        }

        &-center {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }

    .payment-options {
      label {
        font-size: 1rem;
      }

      .payment-option {
        margin-bottom: 1rem;

        .custom-radio {
          margin-top: 0;
        }
      }

      dt, dd {
        margin: 0;
        padding: 0.666rem 1.25rem;
      }
    }
  
    #conditions-to-approve {
      li {
        display: flex;
        align-items: center;
      }
    }
  }

  .address-selector {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .address-item {
      flex: 0 0 49%;
      background-color: $gray-light;
      padding: 1rem;
      margin-right: .4rem;

      .custom-radio {
        margin-top: 0;
        margin-bottom: .5rem;
      }
      
      label {
        text-align: left;
      }
    }
  }
}
