.login {
  width: 100%;
  max-width: 27rem;
  margin: auto;

  .forgot-password,
  &-create {
    text-align: center;
  }

  hr {
    max-width: 25rem;
    margin: 1rem auto;
  }

  .forgot-password {
    margin-bottom: 1.25rem;
  }
}
