$component-name: header-block;

.#{$component-name} {
  position: relative;

  &__action-btn {
    color: var(--header-top-color);
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: $btn-border-radius;
    padding: .5rem .25rem;

    &:hover,
    &:focus {
      color: var(--header-top-color);
    }

    @include media-breakpoint-up(md) {
      padding: $btn-padding-y $btn-padding-x;
    }

  }

  &__icon {
    @include media-breakpoint-up(md) {
      margin-right: 0.2em;
    }
  }

  &__badge {
    display: inline-block;
    text-align: center;
    padding: 0 0.2em;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: 1.8;
    height: 1.8em;
    min-width: 1.8em;
    border-radius: 50rem;
    color: var(--bs-white);
    background: var(--bs-primary);
    position: absolute;
    top: 0.2em;
    right: 0;

    @include media-breakpoint-up(md) {
      background: var(--bs-gray-100);
      color: inherit;
      font-size: inherit;
      position: static;
      margin-left: 0.4em;
      line-height: 1.6;
      height: 1.6em;
      min-width: 1.6em;
    }
  }

  /* When active, on desktop everything is primary */
  &--active {
    @include media-breakpoint-up(lg) {
      .#{$component-name} {
        &,
        &__icon {
          color: var(--bs-primary);
        }
      }
    }
  }
}
