$component-name: header-block;

.#{$component-name} {
  &__action-btn {
    --header-block-spacing-x: #{$header-block-spacing-x};
    --header-block-spacing-y: #{$header-block-spacing-y};
    position: relative;

    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.375rem;
    color: var(--header-top-color);
    border-radius: $btn-border-radius;

    &[href] {
      &:hover,
      &:focus {
        color: var(--header-top-color-hover);
      }
    }

    &:not([href]) {
      cursor: default;
    }

    @include media-breakpoint-up(md) {
      padding: var(--header-block-spacing-y) var(--header-block-spacing-x);
    }
  }

  &__icon {
    font-size: 1.25rem;
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    height: 1rem;
    padding: 0 0.25rem;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1;
    color: var(--bs-white);
    text-align: center;
    background: var(--bs-primary);
    border-radius: 50rem;

    @include media-breakpoint-up(md) {
      position: static;
      min-width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;
      color: inherit;
      background: var(--bs-gray-100);
    }
  }

  /* When active, on desktop everything is primary */
  &--active {
    @include media-breakpoint-up(md) {
      .#{$component-name} {
        &,
        &__icon {
          color: var(--bs-primary);
        }
      }
    }
  }
}
