$component-name: header-block;

.#{$component-name} {
  &__action-btn {
    position: relative;
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.375rem;
    color: var(--bs-body-color);
    border-radius: var(--bs-border-radius-sm);

    &[href] {
      &:hover,
      &:focus {
        color: var(--bs-link-hover-color);
      }
    }

    &:not([href]) {
      cursor: default;
    }

    @include media-breakpoint-up(md) {
      padding: 0.5rem 0.75rem;
    }
  }

  &__icon {
    font-size: 1.25rem;
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1rem;
    height: 1rem;
    padding: 0 0.25rem;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1;
    color: var(--bs-light);
    text-align: center;
    background: var(--bs-primary);
    border-radius: 50rem;

    @include media-breakpoint-up(md) {
      position: static;
      min-width: 1.5rem;
      height: 1.5rem;
      font-size: 1rem;
      color: inherit;
      background: var(--bs-tertiary-bg);
    }
  }

  /* When active, on desktop everything is primary */
  &--active {
    @include media-breakpoint-up(md) {
      .#{$component-name} {
        &,
        &__icon {
          color: var(--bs-primary);
        }
      }
    }
  }
}

// Dark mode
@include color-mode(dark) {
  .#{$component-name} {
    &--active {
      @include media-breakpoint-up(md) {
        .#{$component-name} {
          &,
          &__icon {
            color: var(--bs-link-hover-color);
          }
        }
      }
    }
  }
}
