@mixin button-icon($button:btn) {
  $fs: $default-button-icon-size;
  $px: $default-button-icon-padding;

  @if $button == sm {
    $fs: $small-button-icon-size;
    $px: $small-button-icon-padding;
  } @else if $button == lg {
    $fs: $large-button-icon-size;
    $px: $large-button-icon-padding;
  }

  .material-icons {
    box-sizing: content-box;
    font-size: $fs;

    &.icon-start {
      padding-right: $px;
    }

    &.icon-end {
      padding-left: $px;
    }
  }

  @at-root .lang-rtl & {
    .material-icons {
      &.icon-start {
        &.rtl-flip {
          padding-right: 0;
          padding-left: $px;
        }
      }

      &.icon-end {
        &.rtl-flip {
          padding-right: $px;
          padding-left: 0;
        }
      }
    }
  }
}
