$component-name: addresses;

.#{$component-name} {

  .address {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background: #f8f8f8;
    border-radius: 8px;

    .address__alias {
      margin-bottom: 1rem;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      color: $gray-800;
    }

    .address__content {
      margin-bottom: 2rem;
      line-height: 1.5;
    }

    .address__actions {
      margin-top: auto;

      a {
        text-transform: lowercase;
        border-bottom: 1px solid;
        transition: 0.25s ease-out;

        &:hover {
          border-bottom: none;
        }
      }
    }

    .address__edit {
      margin-right: 1rem;
      color: $gray-800;
    }

    .address__delete {
      color: #d5343c;
    }
  }

  &__new-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 3rem 1rem;
    text-align: center;
    border: 1px solid $input-border-color;
    border-radius: 8px;

    .new-address__text {
      margin-bottom: 0.5rem;
    }

    .new-address__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background: #f5f9ff;
      border-radius: 50rem;
    }

    i {
      font-size: 2rem;
      color: $primary;
    }
  }

}
