$component-name: brand;

.#{$component-name} {
  text-align: center;

  & &__link {
    font-size: 1rem;
    color: $gray-dark;
  }

  p {
    margin: 0;
  }

  & &__infos {
    margin-top: 0.5rem;
  }

  & &__products {
    a {
      font-size: 0.85rem;
    }
  }
}
