$component-name: cart;

.#{$component-name} {
  &-container {
    .card-header,
    .card-footer {
      background-color: $white;

      i {
        color: inherit;
      }
    }
  }

  &-summary {
    padding: 1rem;
    background-color: $gray-100;

    &-products {
      margin-bottom: 0.75rem;
      border-bottom: 1px solid $gray-200;

      > p {
        padding: 1rem 0;
        margin-bottom: 0;

        &:first-of-type {
          padding-top: 0.5rem;
          border-bottom: 1px solid $gray-200;
        }
      }

      .media {
        display: flex;
        align-items: flex-start;
        width: 100%;

        &-price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .product-flag {
            display: inline-block;
            padding: 0.3125rem 0.625rem;
            font-size: 0.875rem;
            font-weight: 600;
            color: $white;
            background-color: $primary;

            &.discount {
              background-color: $warning;
            }
          }

          .product-price {
            font-weight: 600;
            color: $gray-800;
          }
        }

        &-left {
          img {
            width: 3rem;
          }
        }

        &-body {
          width: 100%;
          padding: 0 0.75rem;

          &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.25rem;
          }

          .label,
          .value {
            font-size: 1rem;
            font-weight: 400;
            color: $gray-800;
          }

          .product-line-info {
            margin: 0.25rem 0;
          }

          .product-name {
            a {
              font-weight: 600;
              color: $gray-800;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }

    &-show {
      font-weight: 600;

      i {
        color: $primary;
      }

      span {
        vertical-align: middle;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &-totals {
      padding-top: 1rem;
      margin-top: 0.75rem;
      border-top: 1px solid $gray-200;

      span {
        font-weight: 700;
      }
    }

    &-line,
    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;

      span {
        font-size: 1rem;

        &.value {
          font-weight: 700;
          color: $gray-800;
        }
      }
    }
  }

  &-detailed-actions {
    margin-top: 1.75rem;

    .btn-primary {
      display: flex;
      justify-content: center;
    }
  }

  &-grid {
    .h4 {
      margin-bottom: 0;
    }
  }

  &-item {
    .product-line {
      &-top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &-content {
          .current-price {
            margin: 0.25rem 0;
          }
        }
      }

      &-grid {
        padding: 1rem 0;
        border-bottom: 1px solid $gray-200;

        &:first-child {
          border-top: 1px solid $gray-200;
        }

        &-right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &-image {
          img {
            max-width: 100%;
          }
        }
      }

      &-title {
        align-self: start;
        font-weight: 600;
        color: $gray-800;
        width: 100%;
      }

      &-info {
        .label {
          font-size: 1rem;
        }
      }

      &-bottom,
      &-price,
      &-info {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .product-discount {
          display: flex;
          align-items: center;

          .regular-price {
            text-decoration-line: line-through;
            line-height: 1.2rem;
          }

          .product-flag {
            display: inline-block;
            padding: 0.3125rem 0.625rem;
            margin: 0.5rem;
            font-size: 0.875rem;
            font-weight: 600;
            color: $white;
            background-color: $primary;

            &.discount {
              background-color: $warning;
            }
          }
        }
      }

      &-price {
        justify-content: flex-end;

        span {
          display: block;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}
