$componentName: language-selector;

.#{$componentName} {
  display: flex;
  align-items: center;

  > span {
    margin-right: 0.5rem;
  }

  i.expand-more {
    color: $default-icon-color;
  }

  @include media-breakpoint-down(md) {
    &__wrapper {
      margin-bottom: 1rem;
    }
  }
}
