$component-name: order-confirmation;

.#{$component-name} {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 500;

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
      font-size: 2rem;
      color: $white;
      background-color: $done;
      border-radius: 100%;
    }
  }

  &-email {
    margin-top: 0.25rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: $gray-800;
  }

  &-details {
    li {
      margin-bottom: 0.25rem;
    }

    &-list {
      p {
        font-size: 1rem;
        color: $gray-800;
      }

      ul {
        margin: 1rem 0;
        background: $gray-300;

        li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  &-items {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    background: $gray-300;
  }

  &-item {
    padding: 1rem;

    &-prices {
      div {
        font-weight: 500;
        color: $gray-800;
      }
    }

    &-title {
      font-weight: 600;
      color: $gray-800;
    }
  }

  &-prices {
    width: 100%;

    .total-value {
      border-top: 1px solid $gray-200;

      td {
        padding-top: 1.5rem;
      }
    }

    tr:first-of-type {
      border-top: 1px solid $gray-200;

      td {
        padding-top: 1.5rem;
      }
    }

    td {
      padding: 0.5rem 1rem;

      &:last-of-type {
        font-weight: 500;
        color: $gray-800;
        text-align: right;
      }
    }
  }

  &-subtotal {
    td {
      padding-bottom: 1rem;
    }
  }

  &-image {
    text-align: center;

    img {
      max-width: 5.5rem;
    }
  }
}
