$component-name: subcategory;

.#{$component-name} {
  &__link {
    flex-shrink: 0;
    display: block;
    padding: 0.25rem 0.75rem;
    color: var(--bs-body-color);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius-pill);

    &:hover {
      color: var(--bs-link-hover-color);
      background-color: var(--bs-tertiary-bg);
    }
  }

  &__list {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-block: 0.25rem 0.75rem;
    padding-inline: 0.75rem;
    margin-inline: calc(var(--bs-gutter-x) * -0.5);
    margin-bottom: 0.25rem;
    overflow-x: auto;
  }

  @include media-breakpoint-up(sm) {
    &__list {
      display: none;
    }
  }
}
