$component-name: pagination;

.#{$component-name} {
  width: 100%;
  margin-block-end: 0;

  &__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  &__number {
    color: var(--bs-secondary-color);
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  @include media-breakpoint-up(lg) {
    width: auto;

    &__container {
      justify-content: space-between;
    }
  }
}
