$component-name: address-card;

.#{$component-name} {
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: var(--bs-transition-default);

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }

  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-block-end: 1rem;
  }

  &__alias {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__content {
    margin-block-end: 1rem;
    color: var(--bs-body-color);
  }

  &__extra {
    margin-block-end: 1rem;
  }

  &__actions {
    display: flex;
    gap: 1.5rem;
    margin-block-start: auto;
  }

  &--radio {
    &:hover {
      background-color: var(--bs-tertiary-bg);
    }

    &.selected {
      background-color: var(--bs-tertiary-bg);
      border-color: var(--bs-primary);
    }

    .#{$component-name}__container {
      cursor: pointer;
    }
  }

  &--add-address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    &:hover {
      background-color: var(--bs-tertiary-bg);
    }
  }
}
