$component-name: brand;

.#{$component-name} {
  position: relative;
  padding: 1rem;
  text-align: center;
  border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-border-color);
  transition: var(--bs-transition-default);

  &:hover {
    border-color: var(--bs-link-hover-color);
  }

  &__list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
  }

  &__image {
    margin-block-end: 0.5rem;
  }

  &__title {
    display: block;
    margin-block-end: 0.5rem;
  }
  
  &__description {
    font-size: 0.75rem;
    line-height: 1.2;
    color: var(--bs-secondary-color);
    margin-block-end: 0.5rem;

    p {
      margin-block-end: 0;
    }
  }

  &__products {
    color: var(--bs-secondary-color);
    font-size: 0.85rem;
    margin-block-end: 0;
  }

  @include media-breakpoint-up(sm) {
    &__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include media-breakpoint-up(lg) {
    &__list {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @include media-breakpoint-up(xxl) {
    &__list {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
}
