$component-name: copyright;

.#{$component-name} {
  padding-block-start: 1rem;
  font-size: 0.875rem;
  color: var(--bs-gray-300);
  text-align: center;

  a {
    color: var(--bs-gray-300);

    &:hover {
      color: var(--bs-white);
    }
  }

  @include media-breakpoint-up(md) {
    padding-block-start: 2rem;
    font-size: 1rem;
  }
}
