$component-name: dl-list;

.#{$component-name} {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-block-end: 0;
  background-color: var(--bs-tertiary-bg);
  border-radius: var(--bs-border-radius);

  dt {
    padding: 1rem;
    margin: 0;
    font-weight: 600;
    border-block-end: 1px solid var(--bs-border-color);

    &:last-of-type {
      border-block-end: none;
    }
  }

  dd {
    padding: 1rem;
    margin: 0;
    border-block-end: 1px solid var(--bs-border-color);

    &:last-of-type {
      border-block-end: none;
    }
  }
}
