/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
$component-name: language-selector;

.#{$component-name}__wrapper {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }

  select {
    cursor: pointer;
  }
}
