$component-name: module-products;

.#{$component-name} {
  &__buttons {
    display: flex;
    justify-content: center;
    margin-block-start: 2rem;
  }
}

body {
  &:not(#index) {
    .#{$component-name} {
      &.container {
        padding-inline: 0;
      }
    }
  }
}
