$component-name: order-confirmation;

.#{$component-name} {
  &__details {
    &-list {
      margin-block-end: 0;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__product {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

    &:has(.product-customization-modal__content) {
      .product-customization-modal__content {
        margin-block: 0.5rem;
      }
    }

    &-image {
      flex-shrink: 0;
    }

    &-img {
      width: 5rem;
      height: 5rem;
      border-radius: var(--bs-border-radius);
    }

    &-details {
      flex-grow: 1;
    }

    &-title,
    &-link {
      margin-block-end: 0;
      font-weight: 600;
    }

    &-reference {
      margin-block-end: 0;
    }

    &-prices {
      flex-shrink: 0;
    }
  }

  &__line {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0;

    &-label {
      font-weight: normal;
    }

    &-value {
      font-weight: 600;
    }

    &--bold {
      .#{$component-name}__line-label {
        font-weight: 600;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__product {
      &-img {
        width: 8rem;
        height: 8rem;
      }

      &-content {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        flex-grow: 1;
      }

      &-prices {
        text-align: right;
      }
    }
  }
}
