$component-name: order-confirmation;

.#{$component-name} {
  &__details {
    &-list {
      margin-block-end: 0;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__carrier-info {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-block-start: 2rem;

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 2rem;
    }

    &-delay {
      margin-block-end: 0;
    }
  }

  &__virtual-info {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-block-start: 2rem;

    &-value {
      margin-block-end: 0;
    }
  }

  &__product {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

    &:has(.product-customization-modal__content) {
      .product-customization-modal__content {
        margin-block: 0.5rem;
      }
    }

    &-image {
      position: relative;
      flex-shrink: 0;
    }

    &-img {
      width: 5rem;
      height: 5rem;
      border-radius: var(--bs-border-radius);
    }

    &-quantity {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      padding: 0.125rem 0.375rem;
      margin: 0;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.25;
      background-color: var(--bs-body-bg);
      border-radius: var(--bs-border-radius-pill);
    }

    &-details {
      flex-grow: 1;
    }

    &-title,
    &-link {
      margin-block-end: 0;
      font-weight: 600;
    }

    &-attribute {
      font-size: 0.875rem;
      color: var(--bs-secondary-color);
    }

    &-reference {
      margin-block-end: 0;
      font-size: 0.875rem;
      color: var(--bs-secondary-color);
    }

    &-prices {
      flex-shrink: 0;
    }

    &-price {
      display: none;
      font-size: 1rem;
      font-weight: 600;
    }

    &-price-unit {
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--bs-tertiary-color);
    }

    &-gift {
      display: inline-flex;
      gap: 0.25rem;
      align-items: center;
      font-weight: 600;

      &-icon {
        font-size: 1.25rem;
      }
    }

    &-total {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__line {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0;

    &-label {
      font-weight: 400;
    }

    &-value {
      font-weight: 600;
    }

    &--bold {
      .#{$component-name}__line-label {
        font-weight: 600;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__product {
      &-img {
        width: 8rem;
        height: 8rem;
      }

      &-content {
        display: flex;
        flex-grow: 1;
        gap: 1rem;
        align-items: flex-start;
      }

      &-prices {
        text-align: right;
      }

      &-price {
        display: block;
      }
    }
  }
}
