$component-name: outline;

.#{$component-name} {
  &:focus-visible {
    outline: 0.125rem solid var(--bs-primary);
    outline-offset: -0.125rem;
  }

  &--rounded {
    border-radius: var(--bs-border-radius);
  }

  &.disabled,
  &:disabled {
    &:focus-visible {
      outline: none;
    }
  }
}
