.quantity-button {
  input {
    max-width: 4rem;
    text-align: center;
  }

  button {
    border: 1px solid $input-border-color;

    &.increment {
      .confirmation {
        color: var(--bs-success);
      }
    }

    &.decrement {
      .confirmation {
        color: var(--bs-danger);
      }
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      box-shadow: none;
    }

    &:disabled {
      opacity: 1;
    }

    .material-icons {
      font-size: 1.25rem;
      pointer-events: none;
    }

    .spinner-border {
      border-width: 0.125rem;
    }
  }
}
