/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
.rich-text {
  line-height: 1.5;

  a {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.15em;

    &:hover {
      color: var(--bs-link-hover-color);
      text-decoration-thickness: 0.2em;
    }
  }

  table {
    @include table;
    @include table-bordered;
  }

  ul {
    padding-left: 1.2rem;
    list-style: disc;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
