$component-name: store;

.#{$component-name} {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);

  &__list {
    display: grid;
    gap: 1rem;
  }

  &__img {
    border-radius: var(--bs-border-radius);
  }

  &__name {
    margin-block-end: 0;
    font-weight: 600;
  }

  &__address {
    margin: 0;
  }

  &__opening-times {
    width: 100%;
  }

  &__note {
    margin-block: 0.5rem;
    color: var(--bs-tertiary-color);
  }

  &__contacts {
    margin-block-end: 0;
  }

  &__contact {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 1.2;
    padding-block: 0.25rem;

    i {
      font-size: 1.25rem;
    }

    &--email {
      word-break: break-all;
    }
  }

  @include media-breakpoint-up(md) {
    &__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @include media-breakpoint-up(xl) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
