// Components
@import "components/slider";
@import "components/currency-selector";
@import "components/language-selector";
@import "components/section-title";
@import "components/breadcrumb";
@import "components/category-tree/category-tree";
@import "components/search-filters/search-filters";
@import "components/category/header";
@import "components/category/subcategories";
@import "components/category/product-list";
@import "components/category/pagination";
@import "components/customer/customer-menu";
@import "components/customer/customer-link";
@import "components/cart";
@import "components/order-confirmation";
@import "components/brand";
@import "components/store";
@import "components/sitemap";
@import "components/address";
@import "components/product/product-miniature";

// Modules
@import "modules/featuredproducts";
@import "modules/contactform";
@import "modules/contactinfo";
@import "modules/emailsubscriptions";
@import "modules/blockreassurance";
@import "modules/social-sharing";
@import "modules/imageslider";

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/content";

// Pages
@import "pages/global";
@import "pages/login";
@import "pages/register";
@import "pages/checkout";
@import "pages/addresses";
@import "pages/orders";
@import "pages/product/product";
@import "pages/product/details";
