$component-name: email-subscription;
$email-input-color: $input-color !default;
$email-input-border-color: $input-border-color !default;

.#{$component-name} {
  padding: 2.5rem 1rem;
  background-color: var(--bs-gray-100);

  & &__content {
    max-width: 56.625rem;
    margin: auto;

    &__infos {
      margin-top: 0.25rem;

      p {
        margin: 0;
      }
    }

    &__inputs {
      display: flex;
      align-items: center;

      input[type="email"] {
        margin-right: 0.5rem;
        color: $email-input-color;
        border: 1px solid $email-input-color;
      }

      .btn-primary {
        color: var(--bs-white);
        text-transform: inherit;
      }
    }
  }

  & &__label {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--bs-gray-800);
  }
}
