$module-name: ps-facetedsearch;
$component-name: (
  search-filters: search-filters,
  active-filters: active-filters,
);

.#{$module-name} {
  border-bottom: 0;
}

.#{map-get($component-name, search-filters)} {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__clear {
    order: 1;
    margin-block-end: 0;
    margin-inline-start: auto;
  }

  &__form-check {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-inline-start: 0;

    .form-check-input,
    .color {
      flex-shrink: 0;
      margin: 0;
    }

    &--color {
      .form-check-label {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        cursor: pointer;
        @extend %color-variant;
      }
    }
  }

  &__link {
    color: var(--bs-body-color);

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }

  &__color-label {
    color: var(--bs-body-color);

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }

  &__magnitude {
    color: var(--bs-tertiary-color);
  }

  &__dropdown-toggle {
    justify-content: space-between;
    width: 100%;
  }

  &__slider {
    &-container {
      margin-block-end: 1rem;
    }

    &-values {
      font-size: 0.875rem;
      color: var(--bs-tertiary-color);
    }
  }

  @include media-breakpoint-up(md) {
    display: block;

    &__clear {
      order: initial;
      margin-block-end: 0.5rem;
      margin-inline-start: initial;
    }
  }
}

.#{map-get($component-name, active-filters)} {
  &__title {
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }
}
