$module-name: ps-facetedsearch;
$component-name: search-filters;

.#{$module-name} {
  border-bottom: 0;
}

.#{$component-name} {
  & &-subtitle {
    // stylelint-disable-next-line
    width: auto !important;
  }

  &__link {
    color: var(--bs-body-color);

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }

  &__magnitude {
    color: var(--bs-tertiary-color);
  }

  .noUi-horizontal {
    margin-bottom: 1rem;

    .noUi-handle {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  .js-faceted-values {
    font-size: 0.875rem;
    color: var(--bs-gray-600);
  }

  .facet-dropdown {
    cursor: pointer;
  }

  .form-check-label {
    cursor: pointer;
    @extend %color-variant;
  }
}
