$component-name: ps-mainmenu;

.#{$component-name} {
  order: -1;

  // Desktop Menu
  &:is(.#{$component-name}--desktop) {
    display: flex;

    .#{$component-name} {
      // Menu Mobile Toggler
      &__mobile-toggle {
        display: flex;
        align-items: center;

        .menu-toggle {
          padding-inline: 0.375rem;
          color: var(--bs-body-color);
          background-color: transparent;

          &:hover {
            color: var(--bs-link-hover-color);
          }

          .material-icons {
            font-size: 1.5rem;
          }
        }

        @include media-breakpoint-up(xl) {
          display: none;
        }
      }

      // Menu Tree
      &__tree {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin: 0;

        > li {
          display: flex;
          align-items: center;

          &.current {
            > a,
            .#{$component-name}_dropdown {
              color: var(--bs-link-color);
            }
          }

          > a {
            padding: 1.25rem 0.75rem;
            color: var(--bs-secondary-color);

            &.dropdown-toggle {
              gap: 0.5rem;
            }

            &:hover {
              color: var(--bs-link-hover-color);
              cursor: pointer;
            }

            &:active {
              color: var(--bs-link-hover-color);
            }
          }
        }
      }

      // Dropdown chevron animations
      &_dropdown {
        display: inline-block;
        color: var(--bs-secondary-color);
        transition: transform 0.25s ease-in-out;
      }

      &_dropdown-down {
        transform: rotate(0deg);
      }

      &_dropdown-up {
        transform: rotate(-180deg);
      }
    }

    // Submenu
    .submenu {
      display: flex;
      flex-grow: 1;
    }

    .submenu__level-container {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 1060;
      display: flex;
      width: 95vw;
      padding-top: 0.5rem;
      transform: translateX(2.5%);
    }

    .submenu.level-1 {
      max-height: calc(100vh - 120px);
      padding: 0.5rem;
      overflow-x: auto;
      background-color: var(--bs-body-bg);
      border-radius: var(--bs-border-radius);
      box-shadow: var(--bs-box-shadow-md);

      > .nav {
        > .ps-mainmenu__category-infos {
          .ps-mainmenu__category-infos__title {
            font-weight: 700;
          }
        }
      }
    }

    .nav-pills {
      flex-wrap: nowrap;
      gap: 0.25rem;
      align-items: flex-start;
    }

    .nav-link {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      width: calc(100% - 1rem);
      min-width: max-content;
      margin: 0 0.5rem;
      color: #052d68cc;
      text-transform: capitalize;
      border: 1px solid #052d68cc;

      .material-icons {
        color: #fff;
      }
    }

    .nav-link.active {
      color: var(--bs-white);
      background-color: #052d68cc;
    }

    .tab-content,
    .tab-pane {
      flex-grow: 1;
    }

    .tab-pane.active {
      display: flex;

      > .ps-mainmenu__category-infos {

        .ps-mainmenu__category-infos__details {
          flex-grow: 1;
          font-size: 1rem;
          background-color: rgba(229, 234, 238, 0.55);
        }

        .ps-mainmenu__category-infos__link {
          background-color: rgba(229, 234, 238, 0.55);
        }
      }
    }

    .tab-content {
      display: flex;
      border-left: 1px solid var(--bs-border-color);
    }

    .tab-content.parent {
      border-left: none;
    }

    .ps-mainmenu__category-infos {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: calc(100% - 1rem);
      min-width: max-content;
      margin: 0.5rem;
      font-size: 0.875rem;
      border-radius: var(--bs-border-radius);

      hr {
        margin: 0;
      }

      &__link {
        background-color: var(--bs-tertiary-bg);
        border-radius: var(--bs-border-radius);

        &-icon {
          font-size: 20px;
          opacity: 0;
          transition: all 0.2s ease-in;
          transform: translateX(0);
        }

        &:hover {
          .ps-mainmenu__category-infos__link-icon {
            opacity: 1;
            transition: all 0.2s ease-in;
            transform: translateX(25%);
          }
        }
      }

      &__header {
        display: flex;
        gap: 1rem;
      }

      &__thumbnail {
        border-radius: var(--bs-border-radius);
      }

      &__title {
        display: flex;
        flex-grow: 1;
        gap: 0.5rem;
        align-items: center;
        padding: 0.5rem 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #052d68cc;
        text-transform: uppercase;
      }

      &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: max-content;
        padding: 1rem;
        margin-bottom: 0;
        background-color: var(--bs-tertiary-bg);
        border-radius: var(--bs-border-radius);
      }
    }
  }

  // Mobile Menu
  &:is(.#{$component-name}--mobile) {
    padding: 0;
    overflow: hidden;

    .contact-link {
      display: block;
      margin-bottom: 1rem;
    }

    .offcanvas-header {
      justify-content: space-between;
      padding-inline: 0 0.75rem;
    }

    .btn-close {
      padding: 0.75rem;
      margin: 0;
    }

    .menu {
      position: relative;
      left: 100%;
      display: none;
      width: 100%;
      max-width: 25rem;
      padding: 0 1rem;
      transition: var(--bs-transition-default);

      a {
        display: block;
        padding-block: 0.5rem;
        color: var(--bs-secondary-color);

        &:hover {
          color: var(--bs-link-hover-color);
        }
      }

      &__title {
        padding: 0;
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--bs-body-color);
      }

      &__list {
        margin: 0;
      }

      &__link {
        &:active {
          color: var(--bs-link-color);
        }
      }

      &__toggle-child {
        padding: 0.25rem;

        > span {
          display: block;
          line-height: 0;
        }
      }

      &--current {
        left: 0;
        display: block;
      }

      &--fromLeft {
        animation: from-left 0.25s;
      }

      &--fromRight {
        animation: from-right 0.25s;
      }

      &--parent {
        left: -100%;
        display: none;
        opacity: 0;
      }

      &--childrens {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .#{$component-name} {
      &__mobile {
        height: 100%;
      }

      &__back-button {
        .btn {
          padding: 0.25rem 0.5rem;
          line-height: 1;
        }
      }

      &__tree {
        display: flex;
        align-items: center;
        margin-bottom: 0;
      }

      &__additionnals {
        flex-shrink: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    order: 1;
  }
}

// Animations
@keyframes from-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
