$component-name: ps-mainmenu;

.#{$component-name} {
  order: -1;

  // Desktop Menu
  &:is(.#{$component-name}--desktop) {
    display: flex;

    .#{$component-name} {
      // Menu Mobile Toggler
      &__mobile-toggle {
        display: flex;
        align-items: center;

        .menu-toggle {
          padding-inline: 0.375rem;
          color: var(--bs-body-color);
          background-color: transparent;

          &:hover {
            color: var(--bs-link-hover-color);
          }

          .material-icons {
            font-size: 1.5rem;
          }
        }

        @include media-breakpoint-up(xl) {
          display: none;
        }
      }

      // Menu Tree
      &__tree {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: stretch;
        margin: 0;

        > li {
          display: flex;
          align-items: center;

          &.current {
            .#{$component-name}__tree-link {
              color: var(--bs-link-color);
            }
          }

          .#{$component-name}__tree-item-wrapper {
            display: flex;
            align-items: center;
          }

          .#{$component-name}__tree-link {
            padding: 1.25rem 0.5rem;
            color: var(--bs-secondary-color);
            text-decoration: none;

            &:hover {
              color: var(--bs-link-hover-color);
              cursor: pointer;
            }

            &:active {
              color: var(--bs-link-hover-color);
            }

            &:focus {
              color: var(--bs-link-hover-color);
              border-radius: var(--bs-border-radius);
              outline: 0.125rem solid var(--bs-link-color);
              outline-offset: 0.125rem;
            }
          }

          .#{$component-name}__tree-dropdown-toggle {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            padding: 1.25rem 0.125rem;
            color: var(--bs-secondary-color);
            cursor: pointer;
            background: none;
            border: none;

            &::after {
              transition: var(--bs-transition-default);
            }

            &:hover {
              color: var(--bs-link-hover-color);
            }

            &:focus {
              color: var(--bs-link-hover-color);
              border-radius: var(--bs-border-radius);
              outline: 0.125rem solid var(--bs-link-color);
              outline-offset: 0.125rem;
            }

            &[aria-expanded="true"]::after {
              transform: rotate(-180deg);
            }
          }

          &:hover {
            .submenu,
            .menu-container {
              display: block;
            }
          }

          .submenu,
          .menu-container {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: 1060;
            display: none;
            background-color: var(--bs-body-bg);
            border-top: 0.0625rem solid var(--bs-border-color);

            &.focusing,
            &:focus-within {
              display: block;
            }

            a {
              &[data-depth="1"],
              &[data-depth="2"] {
                overflow-wrap: break-word;
                white-space: normal;
              }

              &[data-depth="1"] {
                font-weight: 600;
                color: var(--bs-body-color);

                &:hover {
                  &,
                  i {
                    color: var(--bs-link-color);
                  }
                }

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    // Submenu
    .submenu {
      box-shadow: var(--bs-box-shadow-md);

      &__row {
        align-items: stretch;
      }

      &__left {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding-block: 1.5rem;
        border-right: 0.0625rem solid var(--bs-border-color);

        .submenu__left-item {
          display: flex;
          align-items: center;
          padding: 0.75rem 1rem;
          color: var(--bs-body-color);
          text-decoration: none;
          background-color: transparent;
          border-radius: var(--bs-border-radius);

          &:hover {
            color: var(--bs-link-hover-color);
            background-color: var(--bs-tertiary-bg);
          }

          &:focus {
            color: var(--bs-link-hover-color);
            background-color: var(--bs-tertiary-bg);
            outline: 0.125rem solid var(--bs-link-color);
            outline-offset: 0.125rem;
          }

          &.active {
            color: var(--bs-link-color);
            background-color: var(--bs-tertiary-bg);

            &:active,
            &:focus {
              color: var(--bs-link-hover-color);
              background-color: var(--bs-tertiary-bg);
            }
          }

          &[data-ps-has-child="true"] {
            &::after {
              @extend .material-icons;
              margin: 0 0 0 auto;
              content: "\e315" / " ";
            }
          }
        }
      }

      &__right {
        padding-block: 1.5rem;

        &-items {
          display: none;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 2rem;
          column-gap: 1.25rem;

          &:first-child {
            display: grid;
          }

          &.active {
            display: grid;
          }

          &.not-active {
            display: none;
          }

          .menu-item {
            display: block;
            color: var(--bs-body-color);

            &:hover {
              color: var(--bs-link-hover-color);
            }

            &__group--child,
            &__group--nochild {
              .menu-item__group-main-item {
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
                font-weight: 600;
              }
            }

            &__group--child {
              display: flex;
              flex-direction: column;

              .menu-item {
                display: flex;
                gap: 0.25rem;
                align-items: center;
              }
            }
          }

          @include media-breakpoint-up(xxl) {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  }

  // Mobile Menu
  &:is(.#{$component-name}--mobile) {
    padding: 0;
    overflow: hidden;

    .contact-link {
      display: block;
      margin-bottom: 1rem;
    }

    .offcanvas-header {
      justify-content: space-between;
      padding-inline: 0 0.75rem;
    }

    .btn-close {
      padding: 0.75rem;
      margin: 0;
    }

    .menu {
      position: relative;
      left: 100%;
      display: none;
      width: 100%;
      max-width: 25rem;
      padding: 0 1rem;
      transition: var(--bs-transition-default);

      a {
        display: block;
        padding-block: 0.5rem;
        color: var(--bs-secondary-color);

        &:hover {
          color: var(--bs-link-hover-color);
        }
      }

      &__title {
        padding: 0;
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--bs-body-color);
      }

      &__list {
        margin: 0;
      }

      &__link {
        &:active {
          color: var(--bs-link-color);
        }
      }

      &__toggle-child {
        padding: 0.25rem;

        > span {
          display: block;
          line-height: 0;
        }
      }

      &--current {
        left: 0;
        display: block;
      }

      &--fromLeft {
        animation: from-left 0.25s;
      }

      &--fromRight {
        animation: from-right 0.25s;
      }

      &--parent {
        left: -100%;
        display: none;
        opacity: 0;
      }

      &--childrens {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .#{$component-name} {
      &__mobile {
        height: 100%;
      }

      &__back-button {
        .btn {
          padding: 0.25rem 0.5rem;
          line-height: 1;
        }
      }

      &__tree {
        display: flex;
        align-items: center;
        margin-bottom: 0;
      }

      &__additionnals {
        flex-shrink: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    order: 1;
  }
}

// Animations
@keyframes from-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
