/* PrestaShop license placeholder */

// Icons
.product-comment-list-item .material-icons[data-icon]:before {
  content: attr(data-icon);
}

// Comment modal
.product-comment-modal {
  .modal-header {
    .material-icons {
      &.check {
        color: var(--bs-success);
      }
    }
  }

  input[name="comment_title"].error,
  input[name="customer_name"].error,
  textarea.error {
    @extend .is-invalid;
  }

  input[name="comment_title"].valid,
  input[name="customer_name"].valid,
  textarea.valid {
    @extend .is-valid;
  }

  #ratingNotChosen {
    @extend .text-danger;
    @extend .form-text;
  }
}

// Average grade
.comments-note {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.average-grade {
  color: var(--bs-secondary-color);
}

// Specific product miniature styles
.product-miniature {
  .product-list-reviews {
    display: none;
    justify-content: start;
    padding: 0;
    transition: var(--bs-transition-default);

    &--show {
      display: flex;
      visibility: visible;
      align-items: center;
      color: var(--bs-secondary-color);
      font-size: 0.875rem;
    }
  }
}

// Criterions list
#criterions_list {
  .criterion-rating {
    display: block;

    label {
      display: block;
    }

    .star-content {
      cursor: pointer;
    }
  }
}

// Specific product page styles
.page-product {
  .product-comments-additional-info {
    display: flex;
    flex: 0 0 0;
    margin: 0;

    .link-comment {
      &:hover {
        text-decoration: none;
      }
    }

    .comments-note {
      margin: 0;
    }
  }

  // Comments list header
  #product-comments-list-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-block-end: 1rem;
    padding: 0;

    .section-title {
      margin-block-end: 0;
    }

    .comments-nb {
      padding: 0;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  // Comments list button group
  #product-comments-list-btn-group {
    margin-block-end: 1rem;
  }

  // Empty comments
  #empty-product-comment {
    text-align: left;
  }

  .product-comment-list-item {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  // Footer comments
  #product-comments-list-footer {
    min-height: initial;
  }

  // Pagination
  #product-comments-list-pagination {
    .pagination {
      flex-wrap: wrap;
    }
  }

  // Add comment modal
  #post-product-comment-modal {
    .h3 {
      font-size: inherit;
    }

    .product-cover {
      width: auto;
      height: auto;

      img {
        width: auto;
        height: auto;
      }
    }
  }

  // Comments list
  #product-comments-list {
    margin-block-end: 1rem;

    .comment {
      margin: 0;
      padding: 1rem 0;
      background-color: transparent;
      border-bottom: 1px solid var(--bs-border-color);

      &__top {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
      }

      &__author {
        color: var(--bs-body-color);
      }

      &__date {
        color: var(--bs-secondary-color);
      }

      &__title {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        color: var(--bs-body-color);
      }

      &__text {
        margin: 0 0 1rem 0;
        font-size: 1rem;
        letter-spacing: initial;
        line-height: 1.5;
      }

      &__infos {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;
        height: auto;
        min-height: inherit;

        .grade-stars {
          margin: 0 0 0 calc(-1 * 0.25rem);

          .star-content {
            top: 0;
            margin: 0;
          }
        }
      }

      &__buttons {
        display: flex;
        gap: 1rem;
        align-items: center;

        .material-icons {
          font-size: 1.25rem;
        }

        a {
          display: inline-flex;
          align-items: center;
          gap: 0.25rem;
          color: var(--bs-secondary-color);
          transition: var(--bs-transition-default);

          &:hover {
            color: var(--bs-link-hover-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Star rating
.star-content {
  position: absolute;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .star,
  .star-on,
  .star-hover {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("../img/stars.png") no-repeat 0 0 transparent;
    flex: auto;
    margin-left: 0.125rem;
  }

  .star-on,
  .star-hover {
    background-position: -1.5rem 0;
  }
}

.small-stars {
  .star,
  .star-on,
  .star-hover {
    background: url("../img/small_stars.png") no-repeat 0 0 transparent;
    width: 1rem;
    height: 1rem;
    margin-left: 0.125rem;
  }

  .star-on,
  .star-hover {
    background-position: -19px 0;
  }
}

// Grade stars
.grade-stars {
  position: relative;
  height: 1.25rem;
  min-width: 7.5rem;
  display: inline-block;

  &.small-stars {
    min-width: 6.25rem;
    height: 1rem;
  }
}

// Comments list on product page
.product-comments-wrapper {
  margin-block-end: 2rem;

  @include media-breakpoint-up(xl) {
    margin-block-end: 3rem;
  }
}