$componentName: subcategories;

.#{$componentName} {
  margin-top: 4rem;
  margin-bottom: 4rem;

  & &-title {
    font-size: 1.5rem;
  }

  & &-list {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin: -0.25rem;
  }

  & &-item {
    margin: 0.25rem;
    text-align: center;

    li {
      max-width: 10rem;
    }
  }

  & &-name {
    &-link {
      font-size: 1rem;
    }
  }
}
