$component-name: "cart-grid";

.#{$component-name} {
  &__content {
    margin-block-end: 3rem;
  }

  &__aside {
    margin-block-end: 3rem;
  }

  @include media-breakpoint-up(md) {
    &__content {
      margin-block-end: 4rem;
    }

    &__aside {
      margin-block-end: 4rem;
    }
  }
}
