$component-name: cart-grid;

.#{$component-name} {
  &__content {
    margin-block-end: 3rem;
  }

  &__aside {
    margin-block-end: 1rem;
  }

  @include media-breakpoint-up(md) {
    &__content {
      margin-block-end: 4rem;
    }

    &__aside {
      margin-block-end: 2rem;
    }

    &__aside-wrapper {
      position: sticky;
      top: var(--scroll-padding-top);
      z-index: 99;
    }
  }
}
