$page-name: page-category;
$component-name: category;

.#{$page-name} {
  .#{$component-name} {
    &__description {
      margin-bottom: 1rem;
    }

    &__cover {
      margin-bottom: 1.5rem;

      &-image {
        border-radius: var(--bs-border-radius);
      }
    }

    &__additional-description {
      margin-bottom: 1.5rem;
    }
  }
}
