$page-name: "page-product";
$component-name: "product";

.#{$page-name} {
  .#{$component-name} {
    // Top section
    &__thumbnails {
      margin-block-start: 1rem;

      &-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
        margin: 0;
      }
    }

    &__thumbnail {
      &.active .#{$component-name}__thumbnail-image {
        outline: 2px solid var(--bs-primary);
      }

      &-image {
        border-radius: var(--bs-border-radius);
        outline: 2px solid transparent;
      }
    }

    &__images {
      margin-block-end: 2rem;
    }

    &__carousel {
      overflow: hidden;
      border-radius: var(--bs-border-radius);
    }

    &__zoom {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      z-index: 10;
      box-shadow: var(--bs-box-shadow-sm);
    }

    &__description-short {
      margin-block-end: 1rem;
    }

    &__tax-infos {
      font-size: 0.875rem;
      line-height: 1.2;
      color: var(--bs-tertiary-color);
    }

    &__prices {
      font-size: 1.25rem;
      line-height: 1;
    }

    &__prices-inline {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      align-items: center;

      &--small-gap {
        gap: 0.5rem;
      }
    }

    &__prices-block {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    &__price {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &__unit-price {
      font-size: 0.875rem;
      color: var(--bs-secondary-color);
    }

    &__discount-price {
      font-size: 1rem;
      color: var(--bs-secondary-color);
    }

    &__discount-percentage,
    &__discount-amount {
      font-size: 0.875rem;
    }

    &__regular-price {
      text-decoration: line-through;
    }

    &__pack-price {
      font-size: 1rem;
    }

    &__variants {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__availability {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    &__availability-status {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      line-height: 1.2;
    }

    &__delivery-infos {
      font-size: 0.875rem;
      line-height: 1.2;
      color: var(--bs-tertiary-color);
    }

    &__actions-qty-add {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
    }

    &__quantity {
      display: flex;
      width: 100%;
    }

    &__add-to-cart {
      flex-grow: 1;
    }

    &__add-to-cart-button {
      width: 100%;
    }

    &__minimal-quantity {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1.2;
      color: var(--bs-tertiary-color);
    }

    // Bottom section
    &__bottom {
      &-left {
        margin-block-end: 2rem;
      }

      &-right {
        margin-block-end: 2rem;
      }
    }

    &__attachments {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-block-end: 1rem;
    }

    // Spacings
    &__name,
    &__prices,
    &__description-short,
    &__actions,
    &__variants,
    &__availability,
    &__add-to-cart-container,
    &__minimal-quantity,
    &__customization,
    &__pack,
    &__discounts {
      margin-block-end: 1.25rem;
    }

    &__accessories {
      margin-block-end: 2rem;
    }
  }

  @include media-breakpoint-up(sm) {
    .#{$component-name} {
      &__quantity {
        width: auto;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .#{$component-name} {
      &__thumbnails {
        margin-block-start: 1.5rem;
        margin-block-end: 0;

        &-list {
          grid-template-columns: repeat(5, minmax(0, 1fr));
          gap: 1.5rem;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .#{$component-name} {
      &__images {
        margin-block-end: 0;
      }

      &__container {
        display: grid;
        grid-template-columns: 48% minmax(0, 1fr);
        gap: 1.5rem;
      }

      &__bottom {
        display: grid;
        grid-template-columns: 55% minmax(0, 1fr);
        gap: 2rem;
        margin-block-start: 1.5rem;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .#{$component-name} {
      &__container {
        grid-template-columns: 55% minmax(0, 1fr);
        gap: 2rem;
      }

      &__thumbnails {
        &-list {
          grid-template-columns: repeat(6, minmax(0, 1fr));
        }
      }

      // Bottom section
      &__bottom {
        &-left {
          margin-block-end: 3rem;
        }

        &-right {
          margin-block-end: 3rem;
        }
      }

      // Spacings
      &__name,
      &__prices,
      &__description-short,
      &__actions,
      &__variants,
      &__availability,
      &__add-to-cart-container,
      &__minimal-quantity,
      &__customization,
      &__pack,
      &__discounts {
        margin-block-end: 2rem;
      }

      &__accessories {
        margin-block-end: 3rem;
      }
    }
  }

  // Quickview modal
  &--quickview {
    .#{$component-name} {
      &__thumbnails {
        margin-block-start: 0.875rem;
        margin-block-end: 2rem;

        &-list {
          display: grid;
          grid-template-columns: repeat(4, minmax(0, 1fr));
          gap: 0.875rem;
        }
      }

      // Hide product image zoom on quickview modal
      &__zoom {
        display: none;
      }

      // Quickview spacings
      &__prices,
      &__description-short,
      &__actions,
      &__variants,
      &__availability,
      &__actions-qty-add,
      &__minimal-quantity,
      &__customization {
        margin-block-end: 1.5rem;
      }
    }

    @include media-breakpoint-up(sm) {
      .#{$component-name} {
        &__thumbnails {
          margin-block-start: 0.875rem;

          &-list {
            grid-template-columns: repeat(6, minmax(0, 1fr));
            gap: 0.875rem;
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      gap: 2rem;

      .#{$component-name} {
        &__thumbnails {
          margin-block-end: 0;

          &-list {
            grid-template-columns: repeat(5, minmax(0, 1fr));
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {
      .#{$component-name} {
        &__thumbnails {
          margin-block-start: 1.5rem;

          &-list {
            gap: 1.5rem;
          }
        }
      }
    }
  }
}
