// Error layout
body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  place-content: center;
  width: 100%;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  background-color: #f3f3f3;

  * {
    box-sizing: border-box;
  }
}

.layout-error {
  width: 34rem;
  max-width: calc(100% - 2rem);
  padding: 2rem;
  margin: 1rem auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 0;
    margin-block-end: 1rem;
    font-weight: 600;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 1rem;
  }
}

// Error component
.error {
  &__logo {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 12rem;
    margin-block-end: 2rem;
  }

  &__title {
    margin-block-end: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__content {
    margin-block-end: 1.5rem;

    > p {
      &:last-child {
        margin-block-end: 0;
      }
    }
  }

  &__text {
    margin-block-end: 0;

    > p {
      &:last-child {
        margin-block-end: 0;
      }
    }
  }
}
