// Custom CSS rules for RTL should be included here.
// This file will be used automatically if shop language is RTL.
@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: 400;
  src: url("~vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  font-style: normal;
  font-weight: 700;
  src: url("~vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2") format("woff2");
  font-display: swap;
}

body {
  &.lang-fa,
  &.lang-ar {
    font-family: Vazirmatn, sans-serif;
  }
}

.material-icons {
  &.rtl-flip {
    transform: scaleX(-1);
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  transform: scaleX(-1);
}

.dropdown-menu-start {
  --bs-position: end;
}

// stylelint-disable-next-line, selector-id-pattern
#search_widget {
  .search {
    transform: translateX(-1rem);
  }
}
