// Define CSS layers orders to allow easy customization
@layer vendors, bs-base, bs-components, bs-custom-components, ps-base, ps-components, ps-pages, ps-modules, utilities;

/* stylelint-disable */
@import "abstract";

// Vendors
@import "vendors";

// Prestashop
@import "prestashop";
/* stylelint-enable */
