$breadcrumb-font-size:              0.75rem;
$breadcrumb-padding-y:              1.75rem;
$breadcrumb-padding-x:              0;
$breadcrumb-divider-color:          $gray-dark;
$breadcrumb-active-color:           $gray-dark;
$breadcrumb-divider:                quote('>');
