// Base
@import "base";

// Components
@layer ps-components {
  @import "components";
}

// Modules
@layer ps-modules {
  @import "modules";
}

// Layout
@layer ps-base {
  @import "layout";
}

// Pages
@layer ps-base {
  @import "pages";
}
