.page-not-found {
  // stylelint-disable-next-line selector-id-pattern
  #search_widget {
    float: inherit;
    max-width: 30rem;
  }
}

.page-pagenotfound {
  .wrapper__content {
    padding-top: 3rem;
  }
}
