.page-product {
  .product-images-right {
    position: relative;
  }

  #product-images {
    .carousel-inner {
      @extend .col-md-9;
    }
  }

  .product-thumbnails-container {
    margin-right: 2rem;

    img {
      width: auto;
    }

    .thumb-container {
      border-radius: 8px;
      overflow: hidden;
      max-width: 5.75rem;
      max-height: 5.75rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem; 
      }

      &.active {
        border: 2px solid $primary;
      }
    }
  }

  .qty {
    margin-right: 0.5rem;
  }
}
