
.thumbnails__container {

  .thumbnail {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    img {
      border-radius: 8px;
      border: 2px solid transparent;
    }

    &.active img {
      border: 2px solid $primary;
    }
  }
}

.qty {
  margin-right: 0.5rem;
}
