#content-wrapper {
  padding-bottom: 4rem;

  .page-header {
    margin-bottom: 3rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }
}

hr {
  &:not(.alert-divider) {
    color: var(--bs-gray-500);
  }
}
