.page-history,
.page-order-detail {
  .table-wrapper {
    padding: 0 1rem;
    background: lighten($gray-100, 2%);
    border-radius: 0.5rem;

    table {
      border-color: $gray-200;

      > :not(:first-child) {
        border-top: none;
      }

      tbody {
        th,
        td {
          font-weight: 400;
          color: $body-color;
          vertical-align: middle;
          box-shadow: none;
        }

        tr {
          &:last-child {
            &,
            td,
            th {
              border-bottom-width: 0;
            }
          }
        }
      }
    }

    .order-products,
    .order-return {
      tfoot {
        td {
          border-bottom-width: 0;
        }

        tr {
          &:first-child {
            td {
              border-top: 1px solid $gray-200;
            }
          }
        }
      }
    }
  }

  .order__actions {
    a {
      display: inline-block;
      padding: 0.5rem;
      color: $body-color;

      &::after {
        display: block;
        width: 100%;
        height: 1px;
        content: "";
        background: currentcolor;
        transition: 0.25s ease-out;
      }

      &:hover {
        &::after {
          color: transparent;
        }
      }
    }
  }

  .orders {
    padding: 0.5rem;

    .order {
      padding: 0 1rem;
      background: lighten($gray-100, 2%);
      border-radius: 0.5rem;

      &__label {
        font-weight: 600;
      }

      &__label,
      &__value {
        margin-bottom: 0;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid $gray-200;
        }

        &.order__actions {
          justify-content: flex-end;
        }
      }
    }
  }
}

.order {
  &__header {
    &__right {
      text-align: right;

      .btn {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  &__item {
    &__header {
      padding: 1rem;
    }

    &__line {
      padding: 0.5rem 0;
    }
  }

  &__total {
    padding: 0.5rem 0;
  }
}
