$component-name: account-menu;

.#{$component-name} {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid $secondary-light;

  & &__link,
  > a {
    width: 100%;
    margin: 0.5rem 0;
    color: $gray-dark;

    i {
      margin-right: 0.75rem;
    }
  }

  & &__line,
  a {
    &:hover,
    &.active {
      .#{$component-name}__link,
      & {
        font-weight: 600;

        &,
        i {
          color: $primary;
        }
      }
    }

    &.#{$component-name}--signout {
      .#{$component-name}__link {
        color: $danger;

        &,
        i {
          color: $danger;
        }
      }
    }
  }
}
