$component-name: account-menu;

.#{$component-name} {
  display: flex;
  flex-direction: column;

  & > a {
    display: block;

    /* Width to properly override hooked modules */
    width: 100%;
    padding: 0.4rem 0.5rem;
    border-radius: 4px;

    &:hover,
    &.active {
      background: #f5f9ff;

      .link-item {
        &,
        i {
          color: $primary;
        }
      }
    }

    &.#{$component-name}--signout {
      .link-item {
        color: $danger;

        &,
        i {
          color: $danger;
        }
      }
    }
  }

  .link-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $gray-800;
    transition: all 0.25s ease-out;

    i {
      margin-right: 0.75rem;
    }
  }

  &__back {
    display: block;
    margin-bottom: 1.2rem;
  }
}
