$componentName: account-menu;

.#{$componentName} {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid $secondary-light;

  & &-link,
 > a {
    width: 100%;
    margin: 0.5rem 0;
    color: $gray-dark;

    i {
      margin-right: 0.75rem;
    }
  }

  & &-line {
    &:hover,
    &.active {
      .#{$componentName}-link {
        font-weight: 600;

        &,
        i {
          color: $primary;
        }
      }
    }
  }
}
